.main {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.loaders,
.loadersB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  width: 0.8em;
  height: 10em;
  border-radius: 50px;
  background: rgba(251, 146, 60, 0.2);
}

.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8em;
  height: 4em;
  background: rgba(251, 146, 60, 0.3);
  border-radius: 50px;
  border: 1px solid rgba(251, 146, 60, 0.1);
  box-shadow:
    inset 3px 3px 10px rgba(251, 146, 60, 0.1),
    inset -3px -3px 10px rgba(251, 146, 60, 0.1);
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
}

.loader::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.8em;
  height: 3.5em;
  background: rgba(251, 146, 60, 0.3);
  border-radius: 50px;
  border: 1px solid rgba(251, 146, 60, 0.1);
  box-shadow:
    inset 3px 3px 10px rgba(251, 146, 60, 0.1),
    inset -3px -3px 10px rgba(251, 146, 60, 0.1);
  mask-image: linear-gradient(
    to top,
    black calc(100% - 48px),
    transparent 100%
  );
}

.loaderA {
  position: absolute;
  width: 0.8em;
  height: 10em;
  border-radius: 50px;
  background: transparent;
}

.ball0, .ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7, .ball8 {
  width: 0.8em;
  height: 0.8em;
  box-shadow:
    rgba(251, 146, 60, 0.3) 0px -5px 5px 0px inset,
    rgba(251, 146, 60, 0.2) 0px -8px 8px 0px inset,
    rgba(251, 146, 60, 0.1) 0px -20px 10px 0px inset,
    rgba(251, 146, 60, 0.1) 0px 1px 1px,
    rgba(251, 146, 60, 0.1) 0px 2px 2px,
    rgba(251, 146, 60, 0.1) 0px 4px 4px;
  border-radius: 50%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: rgba(251, 146, 60, 0.4);
  animation: 3.63s move ease-in-out infinite;
}

.loader:nth-child(2) { transform: rotate(20deg); }
.loader:nth-child(3) { transform: rotate(40deg); }
.loader:nth-child(4) { transform: rotate(60deg); }
.loader:nth-child(5) { transform: rotate(80deg); }
.loader:nth-child(6) { transform: rotate(100deg); }
.loader:nth-child(7) { transform: rotate(120deg); }
.loader:nth-child(8) { transform: rotate(140deg); }
.loader:nth-child(9) { transform: rotate(160deg); }

.loaderA:nth-child(2) { transform: rotate(20deg); }
.loaderA:nth-child(3) { transform: rotate(40deg); }
.loaderA:nth-child(4) { transform: rotate(60deg); }
.loaderA:nth-child(5) { transform: rotate(80deg); }
.loaderA:nth-child(6) { transform: rotate(100deg); }
.loaderA:nth-child(7) { transform: rotate(120deg); }
.loaderA:nth-child(8) { transform: rotate(140deg); }
.loaderA:nth-child(9) { transform: rotate(160deg); }

.ball1 { animation-delay: 0.2s; }
.ball2 { animation-delay: 0.4s; }
.ball3 { animation-delay: 0.6s; }
.ball4 { animation-delay: 0.8s; }
.ball5 { animation-delay: 1s; }
.ball6 { animation-delay: 1.2s; }
.ball7 { animation-delay: 1.4s; }
.ball8 { animation-delay: 1.6s; }

@keyframes move {
  0% { transform: translateY(0em); }
  50% { transform: translateY(9em); }
  100% { transform: translateY(0em); }
}